@model Slider
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
    


                <img src="~/img/@Model.ImagreUrl"  width="150" height="150" />
                <a asp-action="Index" class="btn btn-dark">Back</a>
            </div>
        </div>
    </div>
</div>
